@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;700&display=swap');

:root {
  /* COLORS */
  --black: #000000;
  --lightGrey: #dfdfdf;
  --darkGrey: hsl(0, 0%, 30%);
  --white: #ffffff;
  --gradient: linear-gradient(to top right, #ffc593, #bc7198, #5a77ff);

  /* TEXT */
  --font: 'DM Sans', sans-serif;
  --xlText: 2.5rem;
  --lText: 1.5rem;
  --mText: 1.125rem;
  --sText: 0.75rem;
  --baseText: 0.9375rem;
  --largeLineHeight: 3rem;
  --baseLineHeight: 1.5625rem;
  --smallLineHeight: 1rem;

  /* SPACING */
  --paddingLeft: 2rem;
  --paddingRight: 2rem;
  --paddingTop: 1.75rem;
  --paddingBottom: 1.75rem;

  /* OTHER */
  --transition: all 200ms ease-in;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}

body {
  font-family: var(--font);
  font-size: var(--baseText);
  line-height: var(--baseLineHeight);
  color: var(--black);
  background: var(--white);
}

h1,
h2,
h3,
h4 {
  font-weight: bold;
}

h1,
.xlText {
  font-size: var(--xlText);
  line-height: var(--largeLineHeight);
  letter-spacing: 4.17px;
  text-transform: uppercase;
}

h2 {
  font-size: var(--lText);
  line-height: var(--baseLineHeight);
}

h3 {
  font-size: var(--mText);
  line-height: var(--baseLineHeight);
}

h4 {
  font-size: var(--sText);
  line-height: var(--smallLineHeight);
  text-transform: uppercase;
  letter-spacing: 2px;
}

p {
  color: rgba(0, 0, 0, 60%);
}

img {
  display: inline-block;
  max-width: 100%;
}

a {
  color: inherit;
  text-decoration: none;
  transition: var(--transition);
}

a:hover {
  color: var(--darkGrey);
}

button,
.btn {
  background: var(--black);
  color: var(--white);
  border: none;
  padding: 0.75rem 1.5rem;
  text-transform: uppercase;
  font-size: var(--sText);
  line-height: var(--smallLineHeight);
  letter-spacing: 2px;
  font-weight: bold;

  transition: var(--transition);
}

button:hover,
.btn:hover {
  background: var(--lightGrey);
  color: var(--black);
}

.btn--light {
  background: var(--white);
  color: var(--black);
}

.btn--arrow {
  text-transform: uppercase;
  font-weight: bold;
  font-size: var(--sText);
  line-height: var(--smallLineHeight);
  letter-spacing: 2px;
  display: inline-flex;
  align-items: center;
  transition: var(--transition);
}

.btn--arrow::after {
  content: url('../assets/shared/desktop/arrow.svg');
  height: 14px;
  width: 43px;
  right: 0;
  padding-left: 1rem;
}

.btn--arrow:hover {
  text-decoration: underline;
  color: inherit;
}

.btn--arrow--light::after {
  content: url('../assets/shared/desktop/light-arrow.svg');
  height: 14px;
  width: 43px;
  right: 0;
  padding-left: 1rem;
}

.darkCard {
  background: var(--black);
  color: var(--white);
}

.lightCard p {
  color: rgba(255, 255, 255, 60%);
}

.darkCard p {
  color: rgba(255, 255, 255, 60%);
}

.offsetSplit__heading {
  font-size: 2rem;
  line-height: 2.5rem;
  letter-spacing: 3.33px;
  margin-bottom: 1rem;
}

.offsetSplit__description {
  margin-bottom: 1.5rem;
}

/* SPACING */
.container {
  max-width: 69rem;
  margin: 0 auto;
  padding: var(--paddingTop) var(--paddingRight) var(--paddingBottom)
    var(--paddingRight);
}

.offsetSplit__content--left > .container,
.offsetSplit__content--right > .container {
  --paddingTop: 4.5rem;
  --paddingBottom: 4.5rem;
  --paddingLeft: 1.75rem;
  --paddingRight: 1.75rem;
}

/* TABLET */
@media screen and (min-width: 48rem) {
  .container {
    --paddingLeft: 2.5rem;
    --paddingRight: 2.5rem;
    --paddingTop: 4rem;
    --paddingBottom: 4rem;
  }

  .offsetSplit__content--left > .container,
  .offsetSplit__content--right > .container {
    --paddingTop: 10.75rem;
    --paddingBottom: 10.75rem;
    --paddingLeft: 3.375rem;
    --paddingRight: 3.375rem;
  }

  .offsetSplit--left {
    display: grid;
    grid-template-columns: 2fr 1fr;
  }

  .offsetSplit__content--left {
    grid-row: 1;
    grid-column: 1/2;
  }

  .offsetSplit__image--left {
    grid-column: 2/3;
  }

  .offsetSplit--right {
    display: grid;
    grid-template-columns: 1fr 2fr;
  }

  .offsetSplit__content--right {
    grid-column: 2/3;
  }

  .offsetSplit__image--right {
    grid-column: 1/2;
  }

  .offsetSplit__heading {
    font-size: 2.5rem;
    line-height: 3rem;
    letter-spacing: 4.17px;
    margin-bottom: 1.25rem;
  }

  .offsetSplit__description {
    margin-bottom: 3rem;
  }
}

/* DESKTOP */
@media screen and (min-width: 69rem) {
  .container {
    --paddingLeft: 0;
    --paddingRight: 0;
  }

  .offsetSplit__content--left > .container,
  .offsetSplit__content--right > .container {
    --paddingLeft: 7rem;
    --paddingRight: 7rem;
  }

  .offsetSplit--left {
    grid-template-columns: 42% 58%;
  }

  .offsetSplit--right {
    grid-template-columns: 58% 42%;
  }
}
